

<div class="spinner" ng-if="uploading">
  <ion-spinner icon="ios" class="spinner-calm"></ion-spinner>
</div>

<ion-pane>

  <ion-content class="review-detail">
    <ion-list>
      <!-- {{review}} -->
      <!-- {{location}} -->
      <ion-item ng-show="review.video && review.poster" class="row-no-padding">
      <h3>Review Preview</h3>
        <review-card
        ng-if="review.active" 
        review="review"
        video="awsBucket + review.user_id + '/' + review._id + '.mov'"
        poster="awsBucket + review.user_id + '/' + review._id + '.jpg'"
        remove="remove">
        </review-card>
        <review-card
        ng-if="!review.active"
        review="review"
        video="localPath + review._id + '.mov'"
        poster="localPath + review._id + '.jpg'"
        remove="remove">
        </review-card>
      </ion-item>

      <ion-item ng-if="review.video && review.poster" class="padding">
        <!-- TODO: add star selector input -->
        <input class="full-width" type="text" placeholder="Title (Optional)" ng-model="review.title" ng-blur="update(review, {title: review.title})" />
      </ion-item>

      <ion-item class="">
        <h2>{{location.name}}</h2>
        <p>{{location.formatted_address}}</p>
        <button ng-if="!review.video" class="button button-block button-assertive" ng-click="recordVideo()">Record Your Review</button>
        <button ng-if="review.video && review.poster && !review.active" class="button button-block button-calm" ng-click="publish(review)">Post Review</button>
        <button class="button button-block button-assertive" ng-click="remove(review)">Delete</button>
      </ion-item>

      
      
      <ion-item class="thumbnail-generator" ng-hide="true">
        <div><canvas id="canvas"></canvas></div>
        <div ng-if="review.video && !review.poster" class="video-container">
          <video 
          after-render="getThumbnail"
          id="{{review._id + 'hidden'}}"
          ng-src="{{localPath + review._id + '.mov' + '#t=0.01'}}" 
          type="video/quicktime">
          </video>
        </div>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-pane>
