.full-width {
	width: 100%;
}

.video-container {
  position: relative;
  overflow:hidden;
  background: #DBDBDB;
}

.video-container:before{
  content: "";
  display:inline-block;
  padding-top: 73%;  /* ~ 3:4 aspect ratio */
}

video {
  position: absolute;
  width: 100%;
  height: auto !important;
}


video::-webkit-media-controls-start-playback-button {
  display: none !important;
  /*-webkit-appearance: none;*/
}

.vid-details {
  height: 60px;
}

.card-spacer {
  height: 1px;
}

.item-avatar > img {
  background: #DBDBDB;
}

.spinner-overlay {
  position: fixed;
  text-align: center;
  margin: auto;
  background:black;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 4;
}

div.spinner {
  opacity: .5;
  position: fixed;
  text-align: center;
  margin: auto;
  background:black;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 5;
}

/*
position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 85px;
  text-align: center;
 */ 
.spinner svg {
  width: 19% !important;
  height: 85px !important;
}

.no-background {
  background:none;
}

.center {
  text-align: center;
}

.rank-votes {
  margin: auto;
}

.rank-votes > i {
  font-size: 2em;
  padding: 1em;
  color: rgb(150,150,150);
}

/* http://codepen.io/chriscoyier/pen/ZYWXEY */
.video-container > header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: inherit;
  background-attachment: fixed;
}

.video-container > header > h1 {
  margin: 0;
  color: white;
  position: relative;
  z-index: 3;
}

 /* http://stackoverflow.com/questions/12779776/linear-fade-out-div-content-and-border-solid-at-top-to-transparent-at-bottom*/
.gradient {
    pointer-events: none;
    position:absolute;
    z-index:2;
    right:0; bottom:0; left:0;
    height:40%;
    background: none;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,.7) 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(80%,rgba(0,0,0,.7)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.7) 80%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.7) 80%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.7) 80%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,.7) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

}