<ion-pane>
  <ion-content class="review-detail">
    <ion-list>
      {{review}}
      <!-- {{location}} -->

      <ion-item class="item-borderless">
        <h2>{{location.name}}</h2>
        <p>{{location.formatted_address}}</p>
        <button class="button button-block button-assertive" ng-click="recordVideo()">Record Your Reviews</button>
      </ion-item>

      <ion-item class="padding">
        <!-- TODO: add star selector input -->
        <input class="full-width" type="text" placeholder="Title (Optional)" ng-model="newSpout.title" />
      </ion-item>

      <ion-item class="preview row-no-padding">
        <div class="video-preview"></div>
        <spout-box 
        spout="review"
        video="vidPath"
        poster="posterPath">
        </spout-box>
      </ion-item>

      <ion-item>
        <button class="button button-block button-default" ng-click="makeThumbnail()">Thumbnail</button>
      </ion-item>

      <ion-item>
        <canvas id="canvas"></canvas>
      </ion-item>

      <ion-item>
        <button class="button button-block button-calm" ng-click="save()">Post Review</button>
        <button class="button button-block button-default" ng-click="update()">Save Draft</button>
      </ion-item>

      <ion-item ng-if="uploading" class="spinner item-borderless">
        <ion-spinner icon="lines" class="spinner-calm"></ion-spinner>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-pane>
