<ion-pane>
  <ion-content class="locations-list">

    <h3 class="center">Near You</h3>
    <button class="button button-block button-calm" ng-click="modal.show()">Add A Location</button>
    <ul class="list">
      <div class="list">
        <!-- <a class="item item-icon-right" ng-repeat="location in $parent.locations" href="/locations/{{location._id}}"> -->
        <a class="item item-icon-right item-text-wrap" ng-repeat="location in $parent.locations" ng-click="addReview(location)" href="#">
          <h2>{{ location.name }}</h2>
          <p>{{ location.formatted_address }}</p>
          <button ng-if="!hasReviews(location)" ng-click="remove(location)">Delete</button>
          <i ng-if="!getReview(location)" class="badge badge-calm">Check In</i>
          <i ng-if="getReview(location).active" class="badge badge-positive">Reviewed</i>
          <i ng-if="getReview(location)" class="icon ion-ios-arrow-right"></i>
        </a>
      </div>
    </ul>
    <!-- {{reviews}} -->
    {{myLocation()}}
    {{newLocation}}
  </ion-content>
</ion-pane>

<script id="templates/add-location.html" type="text/ng-template"> 
  <ion-modal-view>

  <ion-header-bar class="bar bar-header item-input-inset">

      <div class="item-input-wrapper">
         <i class="icon ion-ios-search-strong placeholder-icon"></i>
         <input type="search"
                autocorrect="off"
                autocapitalize="off"
                g-places-autocomplete
                placeholder="Search"
                ng-change="getPredictions(search)"
                ng-model="search">
          <div ng-if="search != ''" 
             ng-click="search = ''">
             <i class="icon ion-ios-close placeholder-icon"></i>
          </div>
      </div>

    <button class="button button-clear" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>


    <ion-content class="padding">
      <div class="list">
        <div class="place-results"></div>

          <label class="item item-input">
            <input type="text" ng-model="newLocation.name" placeholder="Location Name">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="newLocation.formatted_address" placeholder="Address">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="newLocation.latLng.lat" placeholder="latitude">
            <input type="text" ng-model="newLocation.latLng.lng" placeholder="longitude">
          </label>

        <button class="button button-full button-calm" ng-click="save()">Add</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
