<ion-view view-title="Edit Location">
  <ion-nav-back-button class="button-icon  icon ion-ios-arrow-back"></ion-nav-back-button>
  <ion-content class="padding has-header has-footer">
      <div class="list">
        <div class="place-results"></div>

          <label class="item item-input">
            <input type="text" ng-model="location.name" placeholder="Location Name">
          </label>
          <div class="item">
            <h2>{{location.streetAddress[0]}}</h2>
            <h2>{{location.streetAddress[1]}}</h2>   
          </div>
          <!-- <label class="item item-input">
            <input type="text" ng-model="location.streetAddress[0]" placeholder="Street Address">
          </label>
          <label class="item item-input">
            <input type="text" ng-model="location.streetAddress[1]" placeholder="City, State Zip">
          </label> -->
          <!-- <label class="item item-input">
            <input type="text" ng-model="location.latLng.lat" placeholder="latitude">
            <input type="text" ng-model="location.latLng.lng" placeholder="longitude">
          </label> -->

        <button class="button button-full button-calm" ng-click="update(location, {name: location.name})">Update</button>
        {{location}}
      </div>
    </ion-content>
</ion-view>
