<ion-view view-title="{{location.name || 'Location Reviews'}}">
  <ion-nav-back-button></ion-nav-back-button>
  <!-- <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
    <button class="button button-clear">
      Cancel
    </button>
  </div> -->

  <ion-content class="reviews-list has-header has-footer">
    <ion-list>
      <div collection-repeat="review in $parent.reviews" class="item-remove-animate row-no-padding">
        <review-card
        ng-if="review.active" 
        review="review"
        video="awsBucket + review.user_id + '/' + review._id + '.mov'"
        poster="awsBucket + review.user_id + '/' + review._id + '.jpg'"
        remove="remove">
        </review-card>
        <review-card
        ng-if="!review.active"
        review="review"
        video="localPath + review._id + '.mov'"
        poster="localPath + review._id + '.jpg'"
        remove="remove">
        </review-card>
        <!-- {{review.latLng}} -->
      </div>
    </ion-list>
   <!--  <ion-item>
      <p>Total number of reviews: {{ $parent.reviews.length }}</p>
    </ion-item> -->
  </ion-content>
</ion-view>