<div class="tabs-striped tabs-background-positive tabs-color-light">
  <div class="tabs">
    <a href="/spouts" class="tab-item" ng-class="{active:getState()==='spouts-list'}">
      <i class="icon ion-home"></i>
    </a>
    <a href="/record" class="tab-item" ng-class="{active:getState()==='spout-record'}">
      <i class="icon ion-disc"></i>
    </a>
    <a href="/about" class="tab-item" ng-class="{active:getState()==='about'}">
      <i class="icon ion-information-circled"></i>
    </a>
  </div>
</div>