<div class="tabs-striped tabs-background-positive tabs-color-light">
  <div class="tabs">
    <a nav-transition="none" href="/spouts" class="tab-item" ng-class="{active:getState()==='spouts-list'}">
      <i class="icon ion-home"></i>
    </a>
    <a nav-transition="none" href="/record" class="tab-item" ng-class="{active:getState()==='spout-record'}">
      <i class="icon ion-disc"></i>
    </a>
    <a nav-transition="none" href="/map" class="tab-item" ng-class="{active:getState()==='map'}">
      <i class="icon ion-ios-location"></i>
    </a>
  </div>
</div>