<div class="tabs-striped tabs-background-positive tabs-color-light">
  <div class="tabs">
    <a nav-transition="none" href="/tabs/reviews" class="tab-item" ng-class="{active:getState()==='tabs.reviews-list'}">
      <i class="icon ion-home"></i>
    </a>
    <a nav-transition="none" href="/tabs/locations" class="tab-item" ng-class="{active:getState()==='tabs.locations-list'}">
      <i class="icon ion-disc"></i>
    </a>
   <!--  <a nav-transition="none" href="tabs/account" class="tab-item" ng-class="{active:getState()==='account'}">
      <i class="icon ion-ios-person"></i>
    </a> -->
    <a nav-transition="none" href="/tabs/map" class="tab-item" ng-class="{active:getState()==='tabs.map'}">
      <i class="icon ion-ios-location"></i>
    </a>
  </div>
</div>