<ion-side-menus>
    <ion-side-menu-content ng-controller="TabsController">
        <ion-nav-bar class="bar-positive nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="tabs" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" ng-controller="TabsController">
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">Account</h1>
        </ion-header-bar>
        <ion-content has-header="true">
            <ul class="list">
              <a ng-if="!currentUser" ui-sref="tabs.login" class="item" ng-click="toggleLeft()">Login</a>
              <a ng-if="currentUser" ui-sref="tabs.account" class="item" ng-click="toggleLeft()">Account</a>
              <a ng-if="currentUser" ui-sref="tabs.user-reviews({id: currentUserId()})" class="item" ng-click="toggleLeft()">My Reviews</a>
              <a ng-if="currentUser" class="item" ng-click="logout()">Logout</a>
            </ul>
        </ion-content>
      <!--   <ion-footer-bar class="bar bar-footer">
            <a class="button button-fullwidth" ui-sref="tabs.policy" ng-click="toggleLeft()">Privacy Policy</a>
        </ion-footer-bar> -->
    </ion-side-menu>
</ion-side-menus>
<ion-nav-view></ion-nav-view>
