/* the slider bar */
.slider {
  position: relative;
  width: 100%;
  height: 1em;
  margin: 1.5em auto;
  background-color: #29e;
  border-radius: 0.5em;
  box-sizing: border-box;
  
  font-size: 8vmin;
  
  -ms-touch-action: none;
      touch-action: none;
}

/* the slider handle */
.slider:before {
  content: "";
  display: block;
  position: relative;
  top: -0.5em;

  width: 2em;
  height: 2em;
  margin-left: -1em;
  border: solid 0.25em #fff;
  border-radius: 1em;
  background-color: inherit;

  box-sizing: border-box;
}

/* display the value */
.slider:after {
  content: attr(data-value);

  top: -1.5em;
  width: 2em;
  line-height:1em;
  margin-left: -1em;
  text-align: center;
}

/*.spinner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 0px;
  text-align: center;
}*/

.video-container {
  position: relative;
  overflow:hidden;
}

.video-container:before{
  content: "";
  display:inline-block;
  padding-top: 73%;  /* ~ 3:4 aspect ratio */
}

video {
  position: absolute;
  width: 100%;
  max-width: 500px;
  
  height: auto !important;
}

/*.vjs-control-bar { display:none!important; }*/

video::-webkit-media-controls-start-playback-button {
  display: none !important;
  /*-webkit-appearance: none;*/
}

.spinner svg {
  width: 19% !important;
  height: 85px !important;
}

/*body { margin: 5% 10%; }*/