<ion-pane>

  <!-- <div class="list">
      <div class="item item-button-right" ng-repeat="spout in $parent.spouts">
        <a href="/spouts/{{spout._id}}">{{ spout.name }}</a>
        <button class="button button-assertive" ng-click="$parent.remove(spout)">
          <i class="icon ion-trash-a"></i>
        </button>
      </div>
    </div> -->


  <ion-content class="padding spouts-list">
    <h1>Spouts</h1>
    
    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
    <ion-card ng-repeat="spout in $parent.spouts">
      <div class="item">
      <video id="video1" style="width:600px;max-width:100%;" controls="">
          <!-- <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4"> -->
          <source src="https://s3.amazonaws.com/spoutcast-contentdelivery-mobilehub-1722871942/4H60x.mov" type="video/quicktime">
          
          Your browser does not support HTML5 video.
        </video>
        </div>
      <ion-card-content>
        <h2 class="card-title">
          {{spout.name}}
        </h2>
        <p>
          {{spout.description}}
        </p>
      </ion-card-content>
    </ion-card>
    <!-- <ion-item ng-repeat="spout in $parent.spouts" class="item-thumbnail-left">
      <img ng-src="{{spout.img}}">
      <h2>{{spout.name}}</h2>
      <p>{{spout.description}}</p>
      <ion-option-button class="button-assertive icon ion-trash-a" ng-click="remove(spout)"></ion-option-button>
      <ion-option-button class="button-positive" ng-click="share(spout)">Share</ion-option-button>
      <ion-option-button class="button-info" ng-click="edit(spout)">Edit</ion-option-button>
      <ion-delete-button class="ion-minus-circled" ng-click="$parent.remove(spout)"></ion-delete-button>
      <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(spout, $fromIndex, $toIndex)">
      </ion-reorder-button>
    </ion-item> -->
  </ion-list>
    
    <p>Total number of spouts: {{ $parent.spouts.length }}</p>
  </ion-content>
</ion-pane>
