<ion-pane>
  <ion-content class="padding spout-detail">
    <div><button ng-if="!newSpout.video && !uploading" class="button button-block button-positive" ng-click="recordSpout()">Record A Review</button></div>
    
    <form ng-submit="$parent.save()" name="$parent.form" novalidate="">
      <div class="list">
        <label ng-if="newSpout.video || uploading" class="item item-input">
          <input type="text" placeholder="Title" ng-model="newSpout.title" />
        </label>
      </div>
      <button ng-if="newSpout.video && !uploading" class="button button-block button-positive" type="submit">Submit</button>
    </form>
    
    <div ng-if="uploading" class="spinner">
      <ion-spinner icon="lines" class="spinner-calm"></ion-spinner>
    </div>
    <pre>{{newSpout}}</pre>
    <pre>{{uploading}}</pre>
  </ion-content>
</ion-pane>
