.video-container {
  position: relative;
  overflow:hidden;
  background: grey;
}

.video-container:before{
  content: "";
  display:inline-block;
  padding-top: 73%;  /* ~ 3:4 aspect ratio */
}

video {
  position: absolute;
  width: 100%;
  height: auto !important;
}


video::-webkit-media-controls-start-playback-button {
  display: none !important;
  /*-webkit-appearance: none;*/
}

.spinner svg {
  width: 19% !important;
  height: 85px !important;
}

.center {
  text-align: center;
}

/*@media (min-width: 680px){*/
  .modal{
    top: 0px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
  }
/*}*/

.g-places-autocomplete-drawer {
  width: 100%;
}
