<ion-view view-title="Account Settings">
  <ion-content class="padding">
  	<div class="list list-inset">

	  	<div class="item">
	  		<img height="100px" ng-show="avatar" ng-src="{{avatar}}" />
      </div>

      <div class="item" ng-if="!editMode">
        <h1>{{userName}}</h1>
        <a ng-click="toggleEditMode()">Change</a>
      </div>

      <div class="item" ng-if="editMode">
        <label>
          <input auto-select class="username" type="text" placeholder="Username" ng-model="newName">
        </label>
        <button class="button button-block button-calm" ng-click="update(newName)">Save</button>
        <a ng-click="toggleEditMode()">Cancel</a>
      </div>
  		<!-- <div class="item item-avatar" href="#">
				<img ng-src="{{avatar}}">
				<h2>{{userName}}</h2>
				<p>{{username}}</p>
			</div> -->
    	<!-- <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="data.username">
      </label>
      <button class="button button-block button-calm" ng-click="update(data)">Change Username</button> -->


      <!-- <label class="item item-input">
          <input type="password" placeholder="Current Password" ng-model="data.oldPassword">
      </label>
      <label class="item item-input">
          <input type="password" placeholder="New Password" ng-model="data.newPassword">
      </label> -->
    </div>
  	<!-- <button class="button button-block button-calm" ng-click="update(data)">Change Password</button> -->

    <!-- <pre>{{getUser()}}</pre> -->
  </ion-content>
</ion-view>