<ion-view view-title="Login">
  <ion-content class="padding">
  	<div class="list">
		<login-buttons></login-buttons>
    <button class="button button-block button-positive icon-left ion-social-facebook" ng-click="facebookLogin()">Login with Facebook</button>
    <button class="button button-block button-assertive icon-left ion-social-google" ng-click="googleLogin()">Login with Google</button>
    <button class="button button-block button-calm icon-left ion-social-twitter" ng-click="twitterLogin()">Login with Twitter</button>
    </div>
  </ion-content>
</ion-view>
