<ion-view view-title="Login">
  <ion-content class="padding">

		      <div class="list list-inset">
		      	<label class="item item-input">
	              <input type="text" placeholder="Email" ng-model="$parent.email">
	          </label>
	          <!-- <label class="item item-input">
	              <input type="text" placeholder="Username" ng-model="username">
	          </label> -->
	          <label class="item item-input">
	              <input type="password" placeholder="Password" ng-model="$parent.password">
	          </label>
		      </div>
		      <button class="button button-block button-calm" ng-click="login()">Login</button>
		      <button class="button button-block button-positive" ng-click="logout()">Logout</button>

  </ion-content>
</ion-view>
