<div class="card">
<div ng-click="userMore()" class="item item-avatar item-icon-right">
	<img ng-src="{{(avatar)}}">
	<h2>{{ username }}</h2>
	<p>{{review.published | timeSince }}</p>
	<i href="" class="icon ion-ios-arrow-right"></i>
		
</div>

<div class="video-container">
	<header>
    <h1>
      <i ng-class="review.rating >= 1 ? 'ion-ios-star' : 'icon ion-ios-star-outline'" class="icon"></i>
      <i ng-class="review.rating >= 2 ? 'ion-ios-star' : 'icon ion-ios-star-outline'" class="icon"></i>
      <i ng-class="review.rating >= 3 ? 'ion-ios-star' : 'icon ion-ios-star-outline'" class="icon"></i>
      <i ng-class="review.rating >= 4 ? 'ion-ios-star' : 'icon ion-ios-star-outline'" class="icon"></i>
      <i ng-class="review.rating >= 5 ? 'ion-ios-star' : 'icon ion-ios-star-outline'" class="icon"></i>
    </h1>
  </header>
	<div class="gradient"></div>
	<video 
	id="{{review._id}}"
	ng-src="{{video}}" 
	poster="{{poster}}" 
	play-toggle
	preload="none"
	type="video/quicktime">
		Your browser does not support HTML5 video.
	</video>
</div>

<!-- <div class="item vid-details item-text-wrap item-borderless">
</div> -->
<!-- <div class="vid-details"> -->
	<div class="row item item-text-wrap vid-details" ng-click="editReview(review)">
	  <div class="col col-80"><h2>{{ review.title || 'Review of ' + location.name + ' by ' + username }}</h2></div>
	  <!-- <div class="col col-10"><i class="icon ion-thumbsup" ng-click="editReview(review)"></i></div>
	  <div class="col col-10"><i class="icon ion-thumbsdown" ng-click="editReview(review)"></i></div> -->

	  <!-- <div ng-if="!canEdit" class="col col-20 item item-icon-right item-borderless no-background"><i class="icon ion-ios-more" ng-click="moreOptions()"></i></div> -->
	  <div ng-if="canEdit" class="col col-20 item item-icon-right item-borderless no-background"><i class="icon ion-compose" ></i></div>
	</div>
	<div class="row item  vid-details" ng-click="locationMore()">
	  <div class="col col-90">
		  <h2>{{ location.name }}</h2> 
		  <p>{{ location.streetAddress[1] }}</p>
	  </div>
	  <div class="col item item-icon-right item-borderless no-background"><i class="icon ion-ios-arrow-right" ></i></div>
	</div>
</div>
<div class="card-spacer"></div>
<!-- </div> -->
	<!-- <div class="row item item-borderless">
	  <div class="col col-90"><p>{{ location.formatted_address }}</p></div>
	</div> -->

<!-- <div class="item vid-details item-icon-right item-text-wrap item-borderless">
	<h2>{{ review.title || 'Review of Location Name by Spoutcast user'}}</h2>
	<p>{{ location.name }}</p>
	<p>{{ location.formatted_address }}</p>
	<i ng-if="!canEdit" class="icon ion-more" ng-click="editReview(review)"></i>
	<i ng-if="!canEdit" class="icon ion-ios-arrow-right" ng-click="editReview(review)"></i>
	<i ng-if="canEdit" class="icon ion-compose" ng-click="editReview(review)"></i>
</div> -->
	<!-- <i class="icon ion-thumbsup" ng-click=""></i> -->
	<!-- <i class="icon ion-thumbsdown" ng-click=""></i> -->
	<!-- <div class="rank-votes center"> -->
	<!-- </div> -->
<!-- <div class="item">
	<h2>{{ review.title }}</h2>
</div> -->

<!-- <div class="item item-divider rank-votes center">
</div> -->
	<!-- <div class="item item-divider rank-votes center">
		<i class="icon ion-arrow-up-b"></i>
		<i class="icon ion-arrow-down-b"></i>
		<i class="icon ion-navicon"></i>
	</div> -->
<!-- <div class="review-details padding">
	<button ng-click="remove(review)">Delete</button>
	<pre>{{review}}</pre>
</div> -->
