<div class="item item-avatar" href="#">
	<img src="http://vignette2.wikia.nocookie.net/creepypasta/images/3/38/Avatar-blank.jpg/revision/latest?cb=20130607025329">
	<h2>{{ review.title || 'Review by' }}</h2>
	<p>{{username}}</p>
</div>
<div class="video-container">
<!-- 	<header>
    <h1>
      {{ review.title || 'Review by' }}
    </h1>
  </header> -->
	<video 
	id="{{review._id}}"
	ng-src="{{video}}" 
	poster="{{poster}}" 
	play-toggle
	type="video/quicktime">
		Your browser does not support HTML5 video.
	</video>
	<!-- <div class="gradient"></div> -->
</div>
<div class="item vid-details" href="#">
	<h2>{{ review.title || 'Review by' }}</h2>
	<p>{{username}}</p>
</div>
	<div class="item item-divider rank-votes center">
		<i class="icon ion-arrow-up-b"></i>
		<i class="icon ion-arrow-down-b"></i>
		<i class="icon ion-navicon"></i>
	</div>
<div class="review-details padding">
	<button ng-click="remove(review)">Delete</button>
	<!-- <pre>{{review}}</pre> -->
</div>
