<div class="item item-avatar item-icon-right">
	<img ng-src="{{(avatar)}}">
	<h2>{{ username || 'Spoutcast user'}}</h2>
	<p>{{review.published || '11/25/15'}}</p>
		
</div>

<div class="video-container">
	<header>
    <h1>
      <i ng-class="review.rating >= 1 ? 'ion-ios-star' : 'icon ion-ios-star-outline'" class="icon"></i>
      <i ng-class="review.rating >= 2 ? 'ion-ios-star' : 'icon ion-ios-star-outline'" class="icon"></i>
      <i ng-class="review.rating >= 3 ? 'ion-ios-star' : 'icon ion-ios-star-outline'" class="icon"></i>
      <i ng-class="review.rating >= 4 ? 'ion-ios-star' : 'icon ion-ios-star-outline'" class="icon"></i>
      <i ng-class="review.rating >= 5 ? 'ion-ios-star' : 'icon ion-ios-star-outline'" class="icon"></i>
    </h1>
  </header>
	<div class="gradient"></div>
	<video 
	id="{{review._id}}"
	ng-src="{{video}}" 
	poster="{{poster}}" 
	play-toggle
	preload="none"
	type="video/quicktime">
		Your browser does not support HTML5 video.
	</video>
</div>

<!-- <div class="item vid-details item-text-wrap item-borderless">
</div> -->
<div class="item vid-details item-icon-right item-text-wrap item-borderless">
	<h2>{{ review.title || 'Review of Location Name by Spoutcast user'}}</h2>
	<p>{{ location.name }}</p>
	<p>{{ location.formatted_address }}</p>
	<i class="icon ion-more" ng-click="editReview(review)"></i>
</div>
	<!-- <i class="icon ion-thumbsup" ng-click=""></i> -->
	<!-- <i class="icon ion-thumbsdown" ng-click=""></i> -->
	<!-- <div class="rank-votes center"> -->
	<!-- </div> -->
<!-- <div class="item">
	<h2>{{ review.title }}</h2>
</div> -->

<!-- <div class="item item-divider rank-votes center">
</div> -->
	<!-- <div class="item item-divider rank-votes center">
		<i class="icon ion-arrow-up-b"></i>
		<i class="icon ion-arrow-down-b"></i>
		<i class="icon ion-navicon"></i>
	</div> -->
<!-- <div class="review-details padding">
	<button ng-click="remove(review)">Delete</button>
	<pre>{{review}}</pre>
</div> -->
